In [1]:
import sqlite3

In [2]:
db=sqlite3.connect('movies_database.db')
cursor = db.cursor()

In [3]:
cursor.execute("CREATE TABLE MOVIES1i (sno INT,movie name TEXT, duration INT,year INT,rating REAL,meta score INT)")

In [4]:
with open ("imdb_movies.csv1",'r') as file:
    total_records=0
    for row in file:
        cursor.execute("insert into movies1i values(?,?,?,?,?,?)",row.split(","))
        db.commit()
        total_records+=1
print(total_records,"records inserted")

38 records inserted

In [5]:
output=cursor.execute("SELECT * FROM movies1i ")
for row in output:
    print(row)

('Sno', 'Movie_name', 'Duration', 'Year', 'Rating', 'Metascore\n')
(1, 'The Dark Knight', '152 min', '(2008)', 9.0, 84)
(2, 'The Lord of the Rings: The Return of the King', '201 min', '(2003)', 9.0, 94)
(3, 'Spider-Man: Across the Spider-Verse', '140 min', '(2023)', 8.9, 86)
(4, 'Inception', '148 min', '(2010)', 8.8, 74)
(5, 'The Lord of the Rings: The Fellowship of the Ring', '178 min', '(2001)', 8.8, 92)
(6, 'The Lord of the Rings: The Two Towers', '179 min', '(2002)', 8.8, 87)
(7, 'The Matrix', '136 min', '(1999)', 8.7, 73)
(8, 'Star Wars: Episode V - The Empire Strikes Back', '124 min', '(1980)', 8.7, 82)
(9, 'Soorarai Pottru', '153 min', '(2020)', 8.7, 75)
(10, 'Terminator 2: Judgment Day', '137 min', '(1991)', 8.6, 90)
(11, 'Star Wars: Episode IV - A New Hope', '121 min', '(1977)', 8.6, 98)
(12, 'Seven Samurai', '207 min', '(1954)', 8.6, 85)
(13, 'Harakiri', '133 min', '(1962)', 8.6, 67)
(14, 'Sita Ramam', '163 min', '(2022)', 8.6, 64)
(15, 'Gladiator', '155 min', '(2000)', 8.5, 85)
(16, 'LÃ©on: The Professional', '110 min', '(1994)', 8.5, 87)
(17, 'Raiders of the Lost Ark', '115 min', '(1981)', 8.4, 78)
(18, 'Spider-Man: Into the Spider-Verse', '117 min', '(2018)', 8.4, 84)
(19, 'Avengers: Endgame', '181 min', '(2019)', 8.4, 77)
(20, 'Aliens', '137 min', '(1986)', 8.4, 78)
(21, 'Oldboy', '101 min', '(2003)', 8.4, 68)
(22, 'The Dark Knight Rises', '164 min', '(2012)', 8.4, 78)
(23, 'Avengers: Infinity War', '149 min', '(2018)', 8.4, 76)
(24, 'Kaithi', '145 min', '(2019)', 8.4, 76)
(25, 'Asuran', '141 min', '(2019)', 8.4, 98)
(26, 'Top Gun: Maverick', '130 min', '(2022)', 8.3, 65)
(27, 'Heat', '170 min', '(1995)', 8.3, 71)
(28, 'Star Wars: Episode VI - Return of the Jedi', '131 min', '(1983)', 8.3, 68)
(29, 'Princess Mononoke', '134 min', '(1997)', 8.3, 70)
(30, 'North by Northwest', '136 min', '(1959)', 8.3, 78)
(31, 'Dangal', '161 min', '(2016)', 8.3, 72)
(32, 'Kantara', '148 min', '(2022)', 8.3, 69)
(33, 'K.G.F: Chapter 2', '168 min', '(2022)', 8.3, 62)
(34, 'Vikram', '175 min', '(2022)', 8.3, 97)
(35, 'Shershaah', '135 min', '(2021)', 8.3, 72)
(36, 'Raatchasan', '170 min', '(2018)', 8.3, 89)
(37, 'Indiana Jones and the Last Crusade', '127 min', '(1989)', 8.2, 93)

In [6]:
#Display all the details of movies with a duration of 140 minutes to 190 minutes.

In [7]:
query = "SELECT * FROM movies1i WHERE CAST(substr(Duration, 1, length(Duration) - 4) AS INTEGER) BETWEEN 140 AND 190;"
output = cursor.execute(query)
rows = output.fetchall()

if rows:
    for row in rows[0:19]:
        print(row)
else:
    print("No movies found with a duration between 140 and 190 minutes.")
    
db.close()

(1, 'The Dark Knight', '152 min', '(2008)', 9.0, 84)
(3, 'Spider-Man: Across the Spider-Verse', '140 min', '(2023)', 8.9, 86)
(4, 'Inception', '148 min', '(2010)', 8.8, 74)
(5, 'The Lord of the Rings: The Fellowship of the Ring', '178 min', '(2001)', 8.8, 92)
(6, 'The Lord of the Rings: The Two Towers', '179 min', '(2002)', 8.8, 87)
(9, 'Soorarai Pottru', '153 min', '(2020)', 8.7, 75)
(14, 'Sita Ramam', '163 min', '(2022)', 8.6, 64)
(15, 'Gladiator', '155 min', '(2000)', 8.5, 85)
(19, 'Avengers: Endgame', '181 min', '(2019)', 8.4, 77)
(22, 'The Dark Knight Rises', '164 min', '(2012)', 8.4, 78)
(23, 'Avengers: Infinity War', '149 min', '(2018)', 8.4, 76)
(24, 'Kaithi', '145 min', '(2019)', 8.4, 76)
(25, 'Asuran', '141 min', '(2019)', 8.4, 98)
(27, 'Heat', '170 min', '(1995)', 8.3, 71)
(31, 'Dangal', '161 min', '(2016)', 8.3, 72)
(32, 'Kantara', '148 min', '(2022)', 8.3, 69)
(33, 'K.G.F: Chapter 2', '168 min', '(2022)', 8.3, 62)
(34, 'Vikram', '175 min', '(2022)', 8.3, 97)
(36, 'Raatchasan', '170 min', '(2018)', 8.3, 89)

In [8]:
#Display all details of movies with ratings above 7 in ascending order.

In [9]:
db = sqlite3.connect("movies_database.db")
cursor = db.cursor()
sony= "SELECT * FROM movies1i WHERE rating > 7 ORDER BY Rating ASC;"
output = cursor.execute(sony)
rows = output.fetchall()

if rows:
    for row in rows[1:36]:
        print(row)
else:
    print("No movies found with ratings above 7.")

db.close()

(26, 'Top Gun: Maverick', '130 min', '(2022)', 8.3, 65)
(27, 'Heat', '170 min', '(1995)', 8.3, 71)
(28, 'Star Wars: Episode VI - Return of the Jedi', '131 min', '(1983)', 8.3, 68)
(29, 'Princess Mononoke', '134 min', '(1997)', 8.3, 70)
(30, 'North by Northwest', '136 min', '(1959)', 8.3, 78)
(31, 'Dangal', '161 min', '(2016)', 8.3, 72)
(32, 'Kantara', '148 min', '(2022)', 8.3, 69)
(33, 'K.G.F: Chapter 2', '168 min', '(2022)', 8.3, 62)
(34, 'Vikram', '175 min', '(2022)', 8.3, 97)
(35, 'Shershaah', '135 min', '(2021)', 8.3, 72)
(36, 'Raatchasan', '170 min', '(2018)', 8.3, 89)
(17, 'Raiders of the Lost Ark', '115 min', '(1981)', 8.4, 78)
(18, 'Spider-Man: Into the Spider-Verse', '117 min', '(2018)', 8.4, 84)
(19, 'Avengers: Endgame', '181 min', '(2019)', 8.4, 77)
(20, 'Aliens', '137 min', '(1986)', 8.4, 78)
(21, 'Oldboy', '101 min', '(2003)', 8.4, 68)
(22, 'The Dark Knight Rises', '164 min', '(2012)', 8.4, 78)
(23, 'Avengers: Infinity War', '149 min', '(2018)', 8.4, 76)
(24, 'Kaithi', '145 min', '(2019)', 8.4, 76)
(25, 'Asuran', '141 min', '(2019)', 8.4, 98)
(15, 'Gladiator', '155 min', '(2000)', 8.5, 85)
(16, 'LÃ©on: The Professional', '110 min', '(1994)', 8.5, 87)
(10, 'Terminator 2: Judgment Day', '137 min', '(1991)', 8.6, 90)
(11, 'Star Wars: Episode IV - A New Hope', '121 min', '(1977)', 8.6, 98)
(12, 'Seven Samurai', '207 min', '(1954)', 8.6, 85)
(13, 'Harakiri', '133 min', '(1962)', 8.6, 67)
(14, 'Sita Ramam', '163 min', '(2022)', 8.6, 64)
(7, 'The Matrix', '136 min', '(1999)', 8.7, 73)
(8, 'Star Wars: Episode V - The Empire Strikes Back', '124 min', '(1980)', 8.7, 82)
(9, 'Soorarai Pottru', '153 min', '(2020)', 8.7, 75)
(4, 'Inception', '148 min', '(2010)', 8.8, 74)
(5, 'The Lord of the Rings: The Fellowship of the Ring', '178 min', '(2001)', 8.8, 92)
(6, 'The Lord of the Rings: The Two Towers', '179 min', '(2002)', 8.8, 87)
(3, 'Spider-Man: Across the Spider-Verse', '140 min', '(2023)', 8.9, 86)
(1, 'The Dark Knight', '152 min', '(2008)', 9.0, 84)

In [10]:
#Display movie name starts with ‘P’ and their rating is greater than 7.

In [11]:

db = sqlite3.connect("movies_database.db")

cursor = db.cursor()

query = 'SELECT "movie name" FROM MOVIES1i WHERE "movie name" LIKE "P%" AND rating > 7;'
output = cursor.execute(query)
rows = output.fetchall()
cursor.close()
db.close()

if rows:
    for row in rows:
        print(row[0])  
else:
    print("No movies found.")

No movies found.

In [12]:
#Display all movie names in descending order

In [50]:

query = 'SELECT "movie name" FROM MOVIES1i ORDER BY "movie name" DESC;'
output = cursor.execute(query)
rows = output.fetchall()

if rows:
    for row in rows:
        print(row[0])  
else:
    print("No movies found.")

cursor.close()
db.close()

movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name
movie name

In [93]:
#Table 2: Movie Name, stars, votes, Genre, Gross collection, popularity, Certification

In [15]:
import csv
import sqlite3
db=sqlite3.connect('movies_database.db')
cursor = db.cursor()

In [16]:
cursor.execute("CREATE TABLE MOVIES2g (movie_name TEXT, stars TEXT,votes INT,genre TEXT, gross_collection INT)")

In [17]:
with open('imdb_movies.csv2', 'r', newline='', encoding='utf-8') as csvfile:
    csv_reader = csv.reader(csvfile)
    next(csv_reader)  

    for row in csv_reader:
        movie_name = row[0]
        stars = row[1]
        votes = row[2]
        genre = row[3]
        gross_collection = row[4]

        cursor.execute("INSERT INTO movies2g (movie_name, stars, votes, genre, gross_collection) VALUES (?, ?, ?, ?, ?)",
                       (movie_name, stars, votes, genre, gross_collection))
        db.commit()

In [18]:
output=cursor.execute("SELECT * FROM movies2g ")
for row in output:
    print(row)

('The Dark Knight', 'Nolan', '2,744,775', 'Action, Crime, Drama', '$534.86M')
('The Lord of the Rings: The Return of the King', 'Goyer', '1,900,422', 'Action, Adventure, Drama', '1,900,422')
('Spider-Man: Across the Spider-Verse', 'Eckhart', '189,449', 'Animation, Action, Adventure', '$377.85M')
('Inception', 'info', '2,435,767', 'Action, Adventure, Sci-Fi', '189,449')
('The Lord of the Rings: The Fellowship of the Ring', 'N/A', '1,928,809', 'Action, Adventure, Drama', '2,435,767')
('The Lord of the Rings: The Two Towers', 'N/A', '1,715,043', 'Action, Adventure, Drama', '$292.58M')
('The Matrix', 'N/A', '1,972,628', 'Action, Sci-Fi', '1,928,809')
('Star Wars: Episode V - The Empire Strikes Back', 'N/A', '1,330,781', 'Action, Adventure, Fantasy', '$315.54M')
('Soorarai Pottru', 'total', '120,096', 'Action, Drama', '1,715,043')
('Terminator 2: Judgment Day', 'Nolan', '1,131,913', 'Action, Sci-Fi', '$342.55M')
('Star Wars: Episode IV - A New Hope', 'Goyer', '1,402,992', 'Action, Adventure, Fantasy', '1,972,628')
('Seven Samurai', 'lines.', '355,184', 'Action, Drama', '$171.48M')
('Harakiri', 'Chicago.', '62,262', 'Action, Drama, Mystery', '1,330,781')
('Sita Ramam', 'free.', '61,511', 'Action, Drama, Mystery', '$290.48M')
('Gladiator', 'credits.', '1,547,338', 'Action, Adventure, Drama', '120,096')
('Léon: The Professional', 'possible.', '1,198,341', 'Action, Crime, Drama', '1,131,913')
('Raiders of the Lost Ark', '(2013)', '1,004,444', 'Action, Adventure', '$204.84M')
('Spider-Man: Into the Spider-Verse', 'Department', '610,909', 'Animation, Action, Adventure', '1,402,992')
('Avengers: Endgame', 'about?', '1,196,333', 'Action, Adventure, Drama', '$322.74M')
('Aliens', 'books?', '737,495', 'Action, Adventure, Sci-Fi', '355,184')
('Oldboy', 'film?', '602,062', 'Action, Drama, Mystery', '$0.27M')
('The Dark Knight Rises', 'States)', '1,756,238', 'Action, Drama, Thriller', '62,262')
('Avengers: Infinity War', 'Kingdom', '1,138,499', 'Action, Adventure, Sci-Fi', '61,511')
('Kaithi', 'Bros.', '36,838', 'Action, Adventure, Crime', '1,547,338')
('Asuran', 'EnglishMandarin', '31,557', 'Action, Drama', '$187.71M')
('Top Gun: Maverick', '2', '611,668', 'Action, Drama', '1,198,341')
('Heat', 'Kong', '683,805', 'Action, Crime, Drama', '$19.50M')
('Star Wars: Episode VI - Return of the Jedi', 'EntertainmentSyncopy', '1,084,961', 'Action, Adventure, Fantasy', '1,004,444')
('Princess Mononoke', '(estimated)', '410,746', 'Animation, Action, Adventure', '$248.16M')
('North by Northwest', '$534,987,076', '336,597', 'Action, Adventure, Mystery', '610,909')
('Dangal', '2008', '199,258', 'Action, Biography, Drama', '$190.24M')
('Kantara', '$1,006,234,167', '96,952', 'Action, Adventure, Drama', '1,196,333')
('K.G.F: Chapter 2', 'minutes', '141,104', 'Action, Crime, Drama', '$858.37M')
('Vikram', 'DigitalSDDSDTS', '64,850', 'Action, Crime, Thriller', '737,495')
('Shershaah', '1', '125,620', 'Action, Biography, Drama', '$85.16M')

In [19]:
#Display all movie names with star Arnold Schwarzenegger in ascending order.

In [20]:
query_arnold_movies = "SELECT movie_name FROM movies2g WHERE stars LIKE '%Arnold Schwarzenegger%' ORDER BY movie_name ASC"

cursor.execute(query_arnold_movies)
arnold_movies = cursor.fetchall()
if arnold_movies:
    print("Movie Names with the Star Arnold Schwarzenegger (in Ascending Order):")
    for movie_name in arnold_movies:
        print(movie_name[0])
else:
    print("No movies with the star Arnold Schwarzenegger found in the database.")

No movies with the star Arnold Schwarzenegger found in the database.

In [21]:
#Display all details of the movie with the highest number of votes.

In [22]:
query_highest_votes_movie = "SELECT * FROM movies2g ORDER BY votes DESC LIMIT 1"

cursor.execute(query_highest_votes_movie)
movie_with_highest_votes = cursor.fetchone()
if movie_with_highest_votes:
    movie_name, stars, votes, genre, gross_collection = movie_with_highest_votes
    print("Movie Name:", movie_name)
else:
    print("No movies found in the database.")

Movie Name: Kantara

In [23]:
 #Display movie names with gross collections in descending order.

In [24]:
import sqlite3

query_movies_by_gross_collection = "SELECT movie_name, gross_collection FROM movies2g ORDER BY gross_collection DESC"

cursor.execute(query_movies_by_gross_collection)
movies_with_gross_collections = cursor.fetchall()

if movies_with_gross_collections:
    print("Movie Names and Gross Collections in Descending Order:")
    for movie_name, gross_collection in movies_with_gross_collections:
        print(f"{movie_name}: {gross_collection}")
else:
    print("No movies found in the database.")

Movie Names and Gross Collections in Descending Order:
Vikram: 737,495
The Dark Knight Rises: 62,262
North by Northwest: 610,909
Avengers: Infinity War: 61,511
Aliens: 355,184
The Lord of the Rings: The Fellowship of the Ring: 2,435,767
Inception: 189,449
Gladiator: 120,096
Star Wars: Episode IV - A New Hope: 1,972,628
The Matrix: 1,928,809
The Lord of the Rings: The Return of the King: 1,900,422
Soorarai Pottru: 1,715,043
Kaithi: 1,547,338
Spider-Man: Into the Spider-Verse: 1,402,992
Harakiri: 1,330,781
Top Gun: Maverick: 1,198,341
Kantara: 1,196,333
Léon: The Professional: 1,131,913
Star Wars: Episode VI - Return of the Jedi: 1,004,444
K.G.F: Chapter 2: $858.37M
Shershaah: $85.16M
The Dark Knight: $534.86M
Spider-Man: Across the Spider-Verse: $377.85M
Terminator 2: Judgment Day: $342.55M
Avengers: Endgame: $322.74M
Star Wars: Episode V - The Empire Strikes Back: $315.54M
The Lord of the Rings: The Two Towers: $292.58M
Sita Ramam: $290.48M
Princess Mononoke: $248.16M
Raiders of the Lost Ark: $204.84M
Dangal: $190.24M
Heat: $19.50M
Asuran: $187.71M
Seven Samurai: $171.48M
Oldboy: $0.27M

In [25]:
#Display the gross collection of movies with the star Arnold.

In [26]:
query_arnold_movies_gross = "SELECT gross_collection FROM movies2g WHERE stars LIKE '%Arnold%'"

cursor.execute(query_arnold_movies_gross)
arnold_movies_gross = cursor.fetchall()

if arnold_movies_gross:
    print("Gross Collection of Movies with the Star Arnold:")
    for gross_collection in arnold_movies_gross:
        print(gross_collection[0])
else:
    print("No movies with the star Arnold found in the database.")

No movies with the star Arnold found in the database.

In [92]:
#Make subquery :

In [68]:
#Display all details from both tables where movie names are the same.

In [67]:
import sqlite3

connection = sqlite3.connect('movies_database.db')
cursor = connection.cursor()

cursor.execute("""
    SELECT *
    FROM MOVIES1i
    WHERE "movie name" IN (SELECT "movie name" FROM MOVIES2g)
""")
movies1i_results = cursor.fetchall()

cursor.execute("""
    SELECT *
    FROM MOVIES2g
    WHERE "movie_name" IN (SELECT "movie_name" FROM MOVIES1i)
""")
movies2g_results = cursor.fetchall()

if movies1i_results and movies2g_results:
    print("All details from MOVIES1i and MOVIES2g where movie names are the same:")
    print("From MOVIES1i:")
    for row in movies1i_results:
        print(row)

    print("From MOVIES2g:")
    for row in movies2g_results:
        print(row)
else:
    print("No movies with the same names found in both tables.")

connection.close()

All details from MOVIES1i and MOVIES2g where movie names are the same:
From MOVIES1i:
('Sno', 'Movie_name', 'Duration', 'Year', 'Rating', 'Metascore\n', None)
(1, 'The Dark Knight', '152 min', '(2008)', 9.0, 84, None)
(2, 'The Lord of the Rings: The Return of the King', '201 min', '(2003)', 9.0, 94, None)
(3, 'Spider-Man: Across the Spider-Verse', '140 min', '(2023)', 8.9, 86, None)
(4, 'Inception', '148 min', '(2010)', 8.8, 74, None)
(5, 'The Lord of the Rings: The Fellowship of the Ring', '178 min', '(2001)', 8.8, 92, None)
(6, 'The Lord of the Rings: The Two Towers', '179 min', '(2002)', 8.8, 87, None)
(7, 'The Matrix', '136 min', '(1999)', 8.7, 73, None)
(8, 'Star Wars: Episode V - The Empire Strikes Back', '124 min', '(1980)', 8.7, 82, None)
(9, 'Soorarai Pottru', '153 min', '(2020)', 8.7, 75, None)
(10, 'Terminator 2: Judgment Day', '137 min', '(1991)', 8.6, 90, None)
(11, 'Star Wars: Episode IV - A New Hope', '121 min', '(1977)', 8.6, 98, None)
(12, 'Seven Samurai', '207 min', '(1954)', 8.6, 85, None)
(13, 'Harakiri', '133 min', '(1962)', 8.6, 67, None)
(14, 'Sita Ramam', '163 min', '(2022)', 8.6, 64, None)
(15, 'Gladiator', '155 min', '(2000)', 8.5, 85, None)
(16, 'LÃ©on: The Professional', '110 min', '(1994)', 8.5, 87, None)
(17, 'Raiders of the Lost Ark', '115 min', '(1981)', 8.4, 78, None)
(18, 'Spider-Man: Into the Spider-Verse', '117 min', '(2018)', 8.4, 84, None)
(19, 'Avengers: Endgame', '181 min', '(2019)', 8.4, 77, None)
(20, 'Aliens', '137 min', '(1986)', 8.4, 78, None)
(21, 'Oldboy', '101 min', '(2003)', 8.4, 68, None)
(22, 'The Dark Knight Rises', '164 min', '(2012)', 8.4, 78, None)
(23, 'Avengers: Infinity War', '149 min', '(2018)', 8.4, 76, None)
(24, 'Kaithi', '145 min', '(2019)', 8.4, 76, None)
(25, 'Asuran', '141 min', '(2019)', 8.4, 98, None)
(26, 'Top Gun: Maverick', '130 min', '(2022)', 8.3, 65, None)
(27, 'Heat', '170 min', '(1995)', 8.3, 71, None)
(28, 'Star Wars: Episode VI - Return of the Jedi', '131 min', '(1983)', 8.3, 68, None)
(29, 'Princess Mononoke', '134 min', '(1997)', 8.3, 70, None)
(30, 'North by Northwest', '136 min', '(1959)', 8.3, 78, None)
(31, 'Dangal', '161 min', '(2016)', 8.3, 72, None)
(32, 'Kantara', '148 min', '(2022)', 8.3, 69, None)
(33, 'K.G.F: Chapter 2', '168 min', '(2022)', 8.3, 62, None)
(34, 'Vikram', '175 min', '(2022)', 8.3, 97, None)
(35, 'Shershaah', '135 min', '(2021)', 8.3, 72, None)
(36, 'Raatchasan', '170 min', '(2018)', 8.3, 89, None)
(37, 'Indiana Jones and the Last Crusade', '127 min', '(1989)', 8.2, 93, None)
From MOVIES2g:
('The Dark Knight', 'Nolan', '2,744,775', 'Action, Crime, Drama', '$534.86M')
('The Lord of the Rings: The Return of the King', 'Goyer', '1,900,422', 'Action, Adventure, Drama', '1,900,422')
('Spider-Man: Across the Spider-Verse', 'Eckhart', '189,449', 'Animation, Action, Adventure', '$377.85M')
('Inception', 'info', '2,435,767', 'Action, Adventure, Sci-Fi', '189,449')
('The Lord of the Rings: The Fellowship of the Ring', 'N/A', '1,928,809', 'Action, Adventure, Drama', '2,435,767')
('The Lord of the Rings: The Two Towers', 'N/A', '1,715,043', 'Action, Adventure, Drama', '$292.58M')
('The Matrix', 'N/A', '1,972,628', 'Action, Sci-Fi', '1,928,809')
('Star Wars: Episode V - The Empire Strikes Back', 'N/A', '1,330,781', 'Action, Adventure, Fantasy', '$315.54M')
('Soorarai Pottru', 'total', '120,096', 'Action, Drama', '1,715,043')
('Terminator 2: Judgment Day', 'Nolan', '1,131,913', 'Action, Sci-Fi', '$342.55M')
('Star Wars: Episode IV - A New Hope', 'Goyer', '1,402,992', 'Action, Adventure, Fantasy', '1,972,628')
('Seven Samurai', 'lines.', '355,184', 'Action, Drama', '$171.48M')
('Harakiri', 'Chicago.', '62,262', 'Action, Drama, Mystery', '1,330,781')
('Sita Ramam', 'free.', '61,511', 'Action, Drama, Mystery', '$290.48M')
('Gladiator', 'credits.', '1,547,338', 'Action, Adventure, Drama', '120,096')
('Léon: The Professional', 'possible.', '1,198,341', 'Action, Crime, Drama', '1,131,913')
('Raiders of the Lost Ark', '(2013)', '1,004,444', 'Action, Adventure', '$204.84M')
('Spider-Man: Into the Spider-Verse', 'Department', '610,909', 'Animation, Action, Adventure', '1,402,992')
('Avengers: Endgame', 'about?', '1,196,333', 'Action, Adventure, Drama', '$322.74M')
('Aliens', 'books?', '737,495', 'Action, Adventure, Sci-Fi', '355,184')
('Oldboy', 'film?', '602,062', 'Action, Drama, Mystery', '$0.27M')
('The Dark Knight Rises', 'States)', '1,756,238', 'Action, Drama, Thriller', '62,262')
('Avengers: Infinity War', 'Kingdom', '1,138,499', 'Action, Adventure, Sci-Fi', '61,511')
('Kaithi', 'Bros.', '36,838', 'Action, Adventure, Crime', '1,547,338')
('Asuran', 'EnglishMandarin', '31,557', 'Action, Drama', '$187.71M')
('Top Gun: Maverick', '2', '611,668', 'Action, Drama', '1,198,341')
('Heat', 'Kong', '683,805', 'Action, Crime, Drama', '$19.50M')
('Star Wars: Episode VI - Return of the Jedi', 'EntertainmentSyncopy', '1,084,961', 'Action, Adventure, Fantasy', '1,004,444')
('Princess Mononoke', '(estimated)', '410,746', 'Animation, Action, Adventure', '$248.16M')
('North by Northwest', '$534,987,076', '336,597', 'Action, Adventure, Mystery', '610,909')
('Dangal', '2008', '199,258', 'Action, Biography, Drama', '$190.24M')
('Kantara', '$1,006,234,167', '96,952', 'Action, Adventure, Drama', '1,196,333')
('K.G.F: Chapter 2', 'minutes', '141,104', 'Action, Crime, Drama', '$858.37M')
('Vikram', 'DigitalSDDSDTS', '64,850', 'Action, Crime, Thriller', '737,495')
('Shershaah', '1', '125,620', 'Action, Biography, Drama', '$85.16M')

In [74]:
#Display all movie names, Director, ratings, and gross collection where the genre is action

In [73]:
connection = sqlite3.connect('movies_database.db')
cursor = connection.cursor()

cursor.execute("SELECT movie name, rating, NULL AS Director, NULL AS gross_collection FROM MOVIES1i")
movies1i_results = cursor.fetchall()

cursor.execute("SELECT movie_name, NULL AS rating, stars AS Director, gross_collection FROM MOVIES2g WHERE genre = 'action'")
movies2g_results = cursor.fetchall()
all_movie_results = [row for row in movies1i_results if row[0] in [item[0] for item in movies2g_results]]

if all_movie_results:
    print("Movie details with the genre 'action':")
    for movie_name, rating, director, gross_collection in all_movie_results:
        print(f"Movie Name: {movie_name}")
        if director is not None:
            print(f"Director: {director}")
        if rating is not None:
            print(f"Rating: {rating}")
        if gross_collection is not None:
            print(f"Gross Collection: {gross_collection}")
        print()
else:
    print("No movies with the genre 'action' found.")

connection.close()

No movies with the genre 'action' found.

In [76]:
#    Display all details from both tables with the highest gross collection

In [75]:
connection = sqlite3.connect('movies_database.db')
cursor = connection.cursor()

cursor.execute("SELECT * FROM MOVIES2g ORDER BY gross_collection DESC LIMIT 1")
highest_gross_movie = cursor.fetchall()

if highest_gross_movie:
    print("Details of the movie with the highest gross collection:")
    for row in highest_gross_movie:
        print(f"Movie Name: {row[0]}")
        print(f"Stars: {row[1]}")
        print(f"Votes: {row[2]}")
        print(f"Genre: {row[3]}")
        print(f"Gross Collection: {row[4]}")
        print()
else:
    print("No movies found in the database.")


connection.close()

Details of the movie with the highest gross collection:
Movie Name: Vikram
Stars: DigitalSDDSDTS
Votes: 64,850
Genre: Action, Crime, Thriller
Gross Collection: 737,495

In [80]:
import sqlite3

# Establish a connection to the database
connection = sqlite3.connect('movies_database.db')
cursor = connection.cursor()

# Retrieve the movie(s) with the highest rating from MOVIES1i table
cursor.execute("SELECT * FROM MOVIES1i WHERE rating = (SELECT MAX(rating) FROM MOVIES1i)")
highest_rated_movies1i = cursor.fetchall()

# Print the result with the highest rating
if highest_rated_movies1i:
    print("Details of the movie(s) with the highest rating:")
    for row in highest_rated_movies1i:
        print(f"Movie Name: {row[1]}")
        print(f"Duration: {row[2]}")
        print(f"Year: {row[3]}")
        print(f"Rating: {row[4]}")
        print(f"Metascore: {row[5]}")
        print()
else:
    print("No movies found in the database.")

# Close the connection
connection.close()

Details of the movie(s) with the highest rating:
Movie Name: Movie_name
Duration: Duration
Year: Year
Rating: Rating
Metascore: Metascore

In [91]:
# Display all details from both tables with the lowest gross collection and lowest ratings

In [90]:

connection = sqlite3.connect('movies_database.db')
cursor = connection.cursor()

cursor.execute('SELECT MIN("gross collection") FROM MOVIES1i')
lowest_gross_movies1i = cursor.fetchone()[0]

cursor.execute('SELECT MIN(gross_collection) FROM MOVIES2g')
lowest_gross_movies2g = cursor.fetchone()[0]

cursor.execute("SELECT * FROM MOVIES1i WHERE \"gross collection\" = ?", (lowest_gross_movies1i,))
lowest_gross_movies1i_details = cursor.fetchall()

cursor.execute("SELECT * FROM MOVIES2g WHERE gross_collection = ?", (lowest_gross_movies2g,))
lowest_gross_movies2g_details = cursor.fetchall()

all_data = lowest_gross_movies1i_details + lowest_gross_movies2g_details


if all_data:
    print("Details of the movie(s) with the lowest gross collection:")
    for row in all_data:
        if "rating" in row:  
            print(f"Movie Name: {row[1]}")
            print(f"Duration: {row[2]}")
            print(f"Year: {row[3]}")
            print(f"Rating: {row[4]}")
            print(f"Metascore: {row[5]}")
        else:  
            print(f"Movie Name: {row[0]}")
            print(f"Stars: {row[1]}")
            print(f"Votes: {row[2]}")
            print(f"Genre: {row[3]}")
        print(f"Gross Collection: {row[-1]}")
        print()
else:
    print("No movies found in the database.")

connection.close()

Details of the movie(s) with the lowest gross collection:
Movie Name: Sno
Stars: Movie_name
Votes: Duration
Genre: Year
Gross Collection: None

Movie Name: 1
Stars: The Dark Knight
Votes: 152 min
Genre: (2008)
Gross Collection: None

Movie Name: 2
Stars: The Lord of the Rings: The Return of the King
Votes: 201 min
Genre: (2003)
Gross Collection: None

Movie Name: 3
Stars: Spider-Man: Across the Spider-Verse
Votes: 140 min
Genre: (2023)
Gross Collection: None

Movie Name: 4
Stars: Inception
Votes: 148 min
Genre: (2010)
Gross Collection: None

Movie Name: 5
Stars: The Lord of the Rings: The Fellowship of the Ring
Votes: 178 min
Genre: (2001)
Gross Collection: None

Movie Name: 6
Stars: The Lord of the Rings: The Two Towers
Votes: 179 min
Genre: (2002)
Gross Collection: None

Movie Name: 7
Stars: The Matrix
Votes: 136 min
Genre: (1999)
Gross Collection: None

Movie Name: 8
Stars: Star Wars: Episode V - The Empire Strikes Back
Votes: 124 min
Genre: (1980)
Gross Collection: None

Movie Name: 9
Stars: Soorarai Pottru
Votes: 153 min
Genre: (2020)
Gross Collection: None

Movie Name: 10
Stars: Terminator 2: Judgment Day
Votes: 137 min
Genre: (1991)
Gross Collection: None

Movie Name: 11
Stars: Star Wars: Episode IV - A New Hope
Votes: 121 min
Genre: (1977)
Gross Collection: None

Movie Name: 12
Stars: Seven Samurai
Votes: 207 min
Genre: (1954)
Gross Collection: None

Movie Name: 13
Stars: Harakiri
Votes: 133 min
Genre: (1962)
Gross Collection: None

Movie Name: 14
Stars: Sita Ramam
Votes: 163 min
Genre: (2022)
Gross Collection: None

Movie Name: 15
Stars: Gladiator
Votes: 155 min
Genre: (2000)
Gross Collection: None

Movie Name: 16
Stars: LÃ©on: The Professional
Votes: 110 min
Genre: (1994)
Gross Collection: None

Movie Name: 17
Stars: Raiders of the Lost Ark
Votes: 115 min
Genre: (1981)
Gross Collection: None

Movie Name: 18
Stars: Spider-Man: Into the Spider-Verse
Votes: 117 min
Genre: (2018)
Gross Collection: None

Movie Name: 19
Stars: Avengers: Endgame
Votes: 181 min
Genre: (2019)
Gross Collection: None

Movie Name: 20
Stars: Aliens
Votes: 137 min
Genre: (1986)
Gross Collection: None

Movie Name: 21
Stars: Oldboy
Votes: 101 min
Genre: (2003)
Gross Collection: None

Movie Name: 22
Stars: The Dark Knight Rises
Votes: 164 min
Genre: (2012)
Gross Collection: None

Movie Name: 23
Stars: Avengers: Infinity War
Votes: 149 min
Genre: (2018)
Gross Collection: None

Movie Name: 24
Stars: Kaithi
Votes: 145 min
Genre: (2019)
Gross Collection: None

Movie Name: 25
Stars: Asuran
Votes: 141 min
Genre: (2019)
Gross Collection: None

Movie Name: 26
Stars: Top Gun: Maverick
Votes: 130 min
Genre: (2022)
Gross Collection: None

Movie Name: 27
Stars: Heat
Votes: 170 min
Genre: (1995)
Gross Collection: None

Movie Name: 28
Stars: Star Wars: Episode VI - Return of the Jedi
Votes: 131 min
Genre: (1983)
Gross Collection: None

Movie Name: 29
Stars: Princess Mononoke
Votes: 134 min
Genre: (1997)
Gross Collection: None

Movie Name: 30
Stars: North by Northwest
Votes: 136 min
Genre: (1959)
Gross Collection: None

Movie Name: 31
Stars: Dangal
Votes: 161 min
Genre: (2016)
Gross Collection: None

Movie Name: 32
Stars: Kantara
Votes: 148 min
Genre: (2022)
Gross Collection: None

Movie Name: 33
Stars: K.G.F: Chapter 2
Votes: 168 min
Genre: (2022)
Gross Collection: None

Movie Name: 34
Stars: Vikram
Votes: 175 min
Genre: (2022)
Gross Collection: None

Movie Name: 35
Stars: Shershaah
Votes: 135 min
Genre: (2021)
Gross Collection: None

Movie Name: 36
Stars: Raatchasan
Votes: 170 min
Genre: (2018)
Gross Collection: None

Movie Name: 37
Stars: Indiana Jones and the Last Crusade
Votes: 127 min
Genre: (1989)
Gross Collection: None

Movie Name: Oldboy
Stars: film?
Votes: 602,062
Genre: Action, Drama, Mystery
Gross Collection: $0.27M